*.root
*.lhe
*.hepmc
*.edm
*.h5
*.hdf5
*.parquet
*.db
*.sqlite
*.pkl
*.pickle
*.npy
*.npz
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.log
*.out
*.err
*.tgz
*.tar
*.tar.gz
*.zip
__pycache__/
.ipynb_checkpoints/
.DS_Store
secrets/
private/
crab_*/
CRAB_UserFiles/
